.feedback {
    margin: 4em 7em;
    text-align: center;
    background-color: var(--cor-destaque-caixa);
    border-radius: 16px;
    padding: 64px;
}

.feedback__texto-apoio {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: var(--cor-destaque);
}

.feedback__depoimento {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: var(--cor-titulo);
    margin: 16px 0 32px 0;
}

.feedback__nome {
    font-weight: 500;
    line-height: 24px;
    color: var(--cor-titulo);
    margin: 16px 0 4px 0;
}

.feedback__cargo {
    font-size: 14px;
    line-height: 20px;
}